@mixin chatText($bg-color) {
	margin: 0;
	font-size: 16px;
	color: white;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 5px 10px;
	box-sizing: border-box;			
	min-height: 30px;
	border-radius: 5px;
	background-color: $bg-color;
}

.ChatPage {
	width: 50%;
	height: 700px;
	border: 2px solid gray;
	border-radius: 3px;
	margin: 0px 10px;
	&__chatList {
		padding: 10px 20px;
		height: 640px;
		overflow: auto;
		&__username {
			margin: 5px 0px;
  			font-size: 14px;
			cursor: pointer;
		}
		
		&__mytext {
			@include chatText(rgb(200, 200, 200));
		}
		&__usertext {
			@include chatText(rgb(133, 133, 133));
		}
		
	}
	&__chatForm{
		display: flex;
  		height: 60px;
  		justify-content: space-between;
  		align-items: center;
  		padding: 10px;
		&__chatInput{
			flex: 8;
  			display: flex;
  			height: 100%;
			&__userTo {
				padding: 5px 10px;
				font-size: 18px;
				cursor: pointer;
			}
		}
	}
}
.Title {
	padding: 20px;
}
.subTitle {
	padding: 5px 20px;
}